<html>
<head>
<body>
<h1>Join today!</h1>
 <h4 style="font-size:20px; color:#2a3f54;">Dear Sir/Madam,</h4>
 <h4 style="font-size:17px; color:#2a3f54;">Hai greetings</h4>
  <div style="text-align: justify; ">
   <p style="font-size:15px; color:#2a3f54;"></p>
 
We are pleased to introduce ourselves as a fastest growing website .We take immense pleasure in introduced to you. The purpose of this e-mail is to introduce our website Firm with you.
  <p style="font-size:15px; color:#2a3f54;"></p>  
  <div style="text-align:justify; ">

We have a good database of evaluated professionals at all levels of employment. This can virtually take care of all your recruitment needs for all positions.
 <p style="font-size:15px; color:#2a3f54;"></p>  
  <div style="text-align:justify;"></div>
We are giving you best service and invite you to become one of our many satisfied customers. Gives us chance to full fill your Requirement we will provide you one of the best for your business.
 <p style="font-size:15px; color:#2a3f54;">  
   <div style="text-align: justify;"></div>
If you would like more information, please feel free to contact us as and when you need to utilize the services that we provide.
 <div style="text-align:justify;"></div>
 <h4 style="color:#2a3f54;font-size:20px;">Contact us</h4>
 <h4 style="color:#2a3f54;font-size:15px;">www.scubetechnologies.co.in</h4>
 <h4 style="color:#2a3f54;font-size:15px;">9566213320</h4>
 <div style="text-align:center; ">
  <h4 style="color:#2a3f54;font-size:15px;">Regards</h4>
   <p style="color:#2a3f54;fontsize:15px;">
      CustomerSupport</p>
   <p style="color:#2a3f54;font-size:15px;">www.myjobkart.com</p>
 <p style="font-size:15px; color:#2a3f54;"> </p> 
  </div>
 </div>
</body>
</html>

