<html>
<head>
<body>
 <div style="margin: 10px 100px; border: 15px solid #2a3f54;">
  <div style="text-align: center; padding: 10px 50px">
   <img src="${web}/resources/theme/images/myjobkart.png" width="100" height="100"></img>
   <hr style="border-color: #0083d5; margin-top: 10px;">
   <h4 style="font-size:20px; color:#2a3f54;">Dear ${fname},</h4>

   <p style="font-size:15px; color:#2a3f54;">Your Product Orderd Successfully </p>
   <p style="color:#2a3f54;font-size:12px;" ></p>
<p>
<label style="font-weight: bold;">Product Type : </label><span>${pType}</span><br />
<label style="font-weight: bold;">Total Amount: </label><span>${pAmount}</span><br />
<label style="font-weight: bold;">Validity Month: </label><span>${Pmonth}</span></p><br />
<label style="font-weight: bold;">Transaction Date: </label><span>${pDate}</span></p><br />
<label style="font-weight: bold;">Transaction No: </label><span>${pNo}</span></p><br />
<label style="font-weight: bold;">Transaction Status: </label><span>${pStatus}</span></p><br />

   <hr style="border-color: #0083d5; margin-top: 10px;">
   <h4 style="color:#2a3f54;font-size:15px;">Regards</h4>
   <p style="color:#2a3f54;font-size:15px; ">Customer Support,</p>
   <p style="color:#2a3f54;font-size:15px;">www.myjobkart.com</p>
  </div>
 </div>
</body>
</html>